language: java

jdk:
  - openjdk8

branches:
  only:
    - master
    - stable

install: true
  
script: 
  - ./gradlew build 
after_failure:
  - cat  build/junitreport/TEST-*.txt
deploy:
  - provider: script
    edge:
      branch: v2.0.5-beta
    skip_cleanup: true
    script: ./gradlew -Drepos_pwd=${repos_pwd} -Drepos_usr=jql_jars-INTE upload
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: ./gradlew -Drepos_pwd=${repos_pwd} -Drepos_usr=jql_jars-INTE '-Drelease=' upload
    on:
      branch: stable
